!!! Strict
%html(lang="en")
  %head
    %title Dashboard
    %meta{ :charset => "utf-8"}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=Edge,chrome=1"}
    %link{ :href => "/assets/bootstrap_and_overrides.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-index.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-navigation.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-builds.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-environments.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-stories.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-performance.css", :rel => "stylesheet"}
    %link{ :href => "/assets/planar.css", :rel => "stylesheet"}

    %script{ :type => "text/javascript", :src => "/assets/vendor/jquery-1.7.2.js" }
    %script{ :type => "text/javascript", :src => "/assets/vendor/raphael.js" }
    %script{ :type => "text/javascript", :src => "/assets/vendor/raphael-linegraph.js" }
    %script{ :type => "text/javascript", :src => "/assets/vendor/raphael-popup.js" }
    %script{ :type => "text/javascript", :src => "/assets/vendor/raphael-spinner.js" }
    %script{ :type => "text/javascript", :src => "/assets/vendor/require.js" }
    %script{ :type => "text/javascript", :src => "/assets/main.js" }
    :javascript
        var projectName = '#{params[:project_name]}';
  %body
