!!! Strict
%html(lang="en")
  %head
    %title Dashboard
    %link{ :href => "/assets/bootstrap_and_overrides.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-navigation.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-builds.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dashboard-stories.css", :rel => "stylesheet"}
    %script{ :type => "text/javascript", :src => "/assets/vendor/raphael.js" }
    %script{ :type => "text/javascript", :src => "/assets/vendor/g.raphael.js" }
    %script{ :type => "text/javascript", :src => "/assets/vendor/g.line.js" }
    %script{ :type => "text/javascript", :src => "/assets/vendor/require.js" }
    %script{ :type => "text/javascript", :src => "/assets/main.js" }
  %body
