<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><span class="dupon normal-font">dupon</span><span class="dius normal-font">di.us</span></a>
      <div class="container-fluid nav-collapse pull-left">
        <ul class="nav">
          <li id="nav-application-name"></li>
          <li id="nav-application-aws"></li>
          <li id="nav-application-stack"></li>
          <li id="nav-application-support"></li>
          <li id="nav-application-envs"></li>
          <li id="nav-region-selected"></li>
          <li id="nav-application-github"></li>
        </ul>
      </div>
      <div class="version-label pull-right"><%= Dupondius::Version.version %></div>
    </div>
  </div>
</div>
