<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>dupondi.us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/assets/bootstrap_and_overrides.css" rel="stylesheet">
    <link href="/assets/dupondius.css" rel="stylesheet">
    <link href="/assets/dupondius-navigation.css" rel="stylesheet">
    <link href="/assets/planar.css" rel="stylesheet">
    <link href="/assets/jquery.selectable-grid.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <script src="/assets/vendor/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="/assets/vendor/bootstrap.js"></script>
    <script src="/assets/dupondius.js"></script>
  </head>
  <body>

    <%= render "shared/empty_nav" %>
    <div class="steps">
      <div id="home" class="home-page" data-step="false" data-navigation="nav-application-name">
        <div class="page-container">
          <div class="home-main">
            <p class="main-logo"><span class="dupon large-font">dupon</span><span class="dius large-font">di.us</span></p>
            <div class="dupondius-image"></div>
          </div>
          <p class="dupondius-blurb">Here at dupondi.us, we aim to make Iteration Zero easy. Utilising the dupondi.us Launchpad, you can get up and running in no time, creating the stack you need with a fully automated continuous delivery solution.</p>
          <p class="dupondius-blurb">Simply click the button below, to begin your productive journey with dupondi.us.</p>
          <p class="dupondius-blurb">Iteration zero made easy.</p>
          <a href="/launchpad" class="btn btn-dupondius btn-xlarge">
            Take me to the launchpad &nbsp; <i class="icon-arrow-right icon-white"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
