#add-chart-modal.modal.hide.fade
  .modal-header
    Add New Relic Chart
  .modal-body
    %form.form
      %div#iframe.control-group
        %label.control-label IFRAME of a chart from the embedded charts or custom dashboards (pro) of your New Relic account.
        %div.controls
          %textarea.span12(id = "newrelic-iframe" type = "text" placeholder = "Enter a chart iframe" rows = "3")<
          %span.help-block
  .modal-footer
    %a.cancel.btn-small(data-dismiss = "modal") Cancel
    %a.confirm.btn.btn-primary Add Chart