%p
  To start receiving New Relic statics you need to have deployed your app to production using the jenkins pipeline.
  For application monitoring newrelic has be enabled by your app by adding the newrelic.yml file in you config (rails)
  or lib (java/grails) directory.
%p
  You can add an exported newrelic chart iframe to this dashboard by clicking on the add new chart button
  %a.btn.add-new-chart
    %i.icon-plus
  You can get the iframe markup from the new relic dashboard via the embedded charts or custom dashboards (pro).
