%p
  To configure server monitoring please enter your new relic token by clicking on the config button for this
  widget
  %a.btn.configure-newrelic-btn
    %i.icon-cog
  . You can get this API token from the Account Settings, Data sharing screen of your New Relic account.