#server-config-modal.modal.hide.fade
  .modal-header
    New Relic Application Monitoring
  .modal-body
    %form.form
      %div.control-group
        To configure server monitoring please enter your New Relic API token below.
      %div#token.control-group
        %label.control-label New Relic API Token
        %div.controls
          %input.input-xlarge(id='newrelic_token' type='text' placeholder='Enter a new relic api token')
          %span.help-block
  .modal-footer
    %a.cancel.btn-small(data-dismiss = "modal") Cancel
    %a.confirm.btn.btn-primary Configure