%form.form-horizontal
    %legend New Relic Graphs
    %div.control-group
      To start receiving New Relic statics you need to have deployed your app to production using the jenkins pipeline
    %div.control-group
      Add iframes you have exported in new relic below
    %div.control-group
        %label.control-label iframe
        %div.controls
            %input{id: 'iframe', type: 'text', placeholder: 'Enter an iframe'}
            %span.help-inline
    %div.control-group
        %div.controls
            %button{type: 'submit', class: 'btn'} Submit
