%form.form-horizontal
    %legend Pivotal Tracker Details
    %div.control-group
        %label.control-label Token
        %div.controls
            %input{id: 'pivotal-tracker-token', type: 'text', placeholder: 'Enter Pivotal Tracker Token'}
    %div.control-group
        %label.control-label Project ID
        %div.controls
            %input{id: 'pivotal-tracker-project', type: 'text', placeholder: 'Enter Pivotal Tracker Project ID'}
    %div.control-group
        %div.controls
            %button{type: 'submit', class: 'btn'} Submit