%form.form-horizontal
    %legend New Relic Server Monitoring
    %div.control-group
      To configure server monitoring please enter your token below
    %div#token.control-group
        %label.control-label Token
        %div.controls
            %input{id: 'newrelic_token', type: 'text', placeholder: 'Enter a new relic api token'}
            %span.help-inline
    %div.control-group
        %div.controls
            %button{type: 'submit', class: 'btn'} Submit
