%form.form-horizontal
    %legend Pivotal Tracker Details
    %small.muted Enter the required Pivotal Tracker details to show the current iterations burn down chart.
        %a.help{href: '#'} Having trouble finding the details?
    %div#token.control-group
        %label.control-label Token
        %div.controls
            %input{id: 'pivotal-tracker-token', type: 'text', placeholder: 'Enter Pivotal Tracker Token'}
            %span.help-inline
    %div#project_id.control-group
        %label.control-label Project ID
        %div.controls
            %input{id: 'pivotal-tracker-project', type: 'text', placeholder: 'Enter Pivotal Tracker Project ID'}
            %span.help-inline
    %div.control-group
        %div.controls
            %button{type: 'submit', class: 'btn'} Submit