%div.modal-header
    %h3 Create an Environment
%div.modal-body
    %div#loading-fields
    %form.form-horizontal
%div.modal-footer
    %a.cancel.btn-small Cancel
    %a.confirm.btn.btn-primary Create