%div.control-group
    %label.control-label{for: parameter_key} = parameter_key
    %div.controls
        - if (parameter_key === 'EnvironmentName') {
            %input{type: 'text', id: parameter_key, placeholder: description, disabled: 'disabled'}
        - else {
            %input{type: 'text', id: parameter_key, placeholder: description}