%div.modal-header
    %h3 Environment Details
%div.modal-body
    %div.environment-errors
        %div.control-group
            %span.help-inline
    %form.form-horizontal.hidden
%div.modal-footer
    %a.cancel.btn-small Cancel
    %a.confirm.btn.btn-primary Continue