%div.environment-heading
    %h3 = model.name
%div.environment-information.hidden
    %div.environment-description The environment has not been created yet! 
    %div.environment-description You can create this environment right now if you'd like.
    %div.environment-actions
        %button.create.btn.btn-large.btn-primary Create Environment