%div.environment-heading
    %h3 = name
%div{id: "loading-" + name, class: 'environment-loading'}
%div.environment-information.hidden
    %div.environment-actions
        %button.create.btn.btn-large.btn-primary Create Environment