%div.environment-heading
    %h3 = tags['dupondius:environment']
%div{id: "loading-" + tags['dupondius:environment'], class: 'environment-loading'}
%div.environment-information.hidden
    %dl.dl-horizontal
        %dt Currently:
        %dd.status = status
        %dt Size:
        %dd.size = instance_type
    %div.environment-actions
        - if (status === 'stopped') {
            %button.start.btn.btn-large.btn-success Start Environment
        - if (status === 'stopping') {
            %button.stop.btn.btn-large.btn-danger.disabled Stop Environment
        - if (status === 'pending') {
            %button.start.btn.btn-large.btn-success.disabled Start Environment
        - if (status === 'running') {
            %button.stop.btn.btn-large.btn-danger Stop Environment
        %br
        - if (status !== 'shutting_down') {
            %button.edit.btn.btn-small.btn-primary Edit
        - if (instances.size() > 0 && tags['dupondius:environment'] === 'dev') {
            %button.instances.btn.btn-primary View Instances
        %button.reboot.btn.btn-small.btn-primary Reboot
        - if (status === 'stopping' || status === 'pending' || status === 'shutting_down') {
            %button.remove.btn.btn-small.btn-danger.disabled Remove
        - else {
            %button.remove.btn.btn-small.btn-danger Remove