%div.environment-heading
    %button.info.btn.btn-small.btn-info Info
    %a.environment-name{href: 'http://' + model.tags['dupondius:environment'] + '.' + model.tags['dupondius:project'] + '.dupondi.us/'}= model.tags['dupondius:environment']
%div{id: "loading-" + model.tags['dupondius:environment'], class: 'environment-loading'}
%div.environment-information.hidden
    %dl.dl-horizontal
        - if (model.tags['dupondius:environment'] === 'dev') {
            %dt Instance Count:
            %dd.status = instances.length
        - else {
            %dt Currently:
            %dd.status = model.status
            %dt Size:
            %dd.size = model.instance_type
            %dt Cost:
            %dd.size = '$' + (model.cost*24) + ' / day'
    %div.environment-actions
        - if (model.tags['dupondius:environment'] === 'dev') {
            %button.create.btn.btn-large.btn-primary Create Environment
            - if (instances.length > 0) {
                %button.instances.btn.btn-primary View Instances
        - else {
            - if (model.status === 'stopped') {
                %button.start.btn.btn-large.btn-success Start Environment
            - if (model.status === 'stopping') {
                %button.stop.btn.btn-large.btn-danger.disabled Stop Environment
            - if (model.status === 'pending') {
                %button.start.btn.btn-large.btn-success.disabled Start Environment
            - if (model.status === 'running') {
                %button.stop.btn.btn-large.btn-danger Stop Environment
            %br
            - if (model.status !== 'shutting_down') {
                %button.edit.btn.btn-small.btn-primary Edit
            - if (model.status === 'running') {
                %button.reboot.btn.btn-small.btn-primary Reboot
            - if (model.status === 'stopping' || model.status === 'pending' || model.status === 'shutting_down') {
                %button.remove.btn.btn-small.btn-danger.disabled Remove
            - else {
                %button.remove.btn.btn-small.btn-danger Remove
