%div.modal-header
    %h3 Instances
%div.modal-body
    %div.loading-fields{id: 'loading-fields-' + random}
    %table.table.table-hover
        %tr
            %th Name
            %th Status
            %th Actions
%div.modal-footer
    %a.cancel.btn.btn-primary Close