.navbar-inner
  .container-fluid
    %a.btn.btn-navbar{'data-toggle': 'collapse', 'data-target': '.nav-collapse'}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.project-brand.brand
    .nav-collapse.collapse
      %ul.nav
        %li
          %a{href: '#index', 'data-toggle': 'collapse', 'data-target': '.nav-collapse'}
            %span#nav-dashboard-image
            %span Dashboard
        %li
          %a{href: '#stories', 'data-toggle': 'collapse', 'data-target': '.nav-collapse'}
            %span#nav-stories-image
            %span Iteration
        %li
          %a{href: '#builds', 'data-toggle': 'collapse', 'data-target': '.nav-collapse'}
            %span#nav-builds-image
            %span Builds
        %li
          %a{href: '#performance', 'data-toggle': 'collapse', 'data-target': '.nav-collapse'}
            %span#nav-performance-image
            %span Performance
        %li
          %a{href: '#configure', 'data-toggle': 'collapse', 'data-target': '.nav-collapse'}
            %span#nav-configure-image
            %span Configure
      %span.brand.right
        %span.dupon dupon
        %span.dius dius
