.navbar-inner
  .container-fluid
    %span.project-brand.brand 
    %span.dashboard-brand.brand Dashboard
    .nav-collapse.collapse
      %ul.nav
        %li
          %a{href: '#index'}
            %span#nav-dashboard-image
            %span Dashboard
        %li
          %a{href: '#stories'}
            %span#nav-stories-image
            %span Stories
        %li
          %a{href: '#builds'}
            %span#nav-builds-image
            %span Builds
        %li
          %a{href: '#performance'}
            %span#nav-performance-image
            %span Performance
        %li
          %a{href: '#configure'}
            %span#nav-configure-image
            %span Configure