%div.modal-header
    %h3 Finding Required Details on Pivotal Tracker
%div.modal-body
    %h4 Finding the Pivotal Tracker Token
    %br
    %p From within Pivotal Tracker, select your profile details.
    %p 
        %img.img-rounded{src: '/assets/pivotal-tracker/pivotal-tracker-help-1.png'}
    %p Scroll to the bottom of the page where the API token is.
    %p You may create a new token if one does not already exist.
    %p
        %img.img-rounded{src: '/assets/pivotal-tracker/pivotal-tracker-help-2.png'}
    %h4 Finding the Pivotal Tracker Project ID
    %br
    %p You can simply get the Project ID from the URL when you visit your projects page.
    %p
        %img.img-rounded{src: '/assets/pivotal-tracker/pivotal-tracker-help-3.png'}
%div.modal-footer
    %a.cancel.btn.btn-primary Done