%div.modal-header
    %h3 Environment Details
%div.modal-body
    %div{id: "loading-" + random, class: 'environment-loading'}
    %dl.hidden
        %dt Name
        %dd.name= model.name
        %dt Description
        %dd.description= model.description
%div.modal-footer
    %a.confirm.btn.btn-primary Ok

