%div.modal-header
    %h3 Environment Details
%div.modal-body
    %div{id: "loading-" + random, class: 'environment-loading'}
    %dl.hidden
        %dt Name
        %dd.name
        %dt Description
        %dd.description
        %dt Status
        %dd.status
        %dt Resources
        %dd.resources
    %a{href: '/aws/stacks/canary-dupondius/template.json', target: '_blank'}View template
%div.modal-footer
    %a.confirm.btn.btn-primary Done

