.builds {
	padding: 10px;
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.builds .build-pipeline .build {
	text-align: center;
	width: 200px;
	height: 200px;
	margin: 10px;
	display: inline-block;
	-webkit-border-radius: 200px;
	border: 3px solid #2BC447;
	border-right-color: #666;
}

@-webkit-keyframes rotateEndlessly {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.builds .build-pipeline .build{
    -webkit-animation-name: rotateEndlessly;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.builds .build-pipeline .build .build-heading {
	padding: 10px;
	border-bottom: 1px solid #EEE;
	font-weight: 400;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	background-color: #686868;
	-webkit-border-radius: 4px 4px 0 0;
}

.builds .build-pipeline .build .build-heading a {
	color: white;
	text-decoration: none;
}

.builds .build-pipeline .build-blue,
.builds .build-pipeline .build-blue_anime {
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	/*background-color: #2BC447;*/
}

.builds .build-pipeline .build-red,
.builds .build-pipeline .build-red_anime {
	background-color: #EB1E1E;
}

.builds .build-pipeline .build-grey {
	background-color: #B5BDB7;
}