.navbar {
	margin-top: 10px;
	-webkit-box-shadow: 0 0 5px 1px #888;
}
.navbar .nav li a {
	padding: 0 !important;
	display: inline-block;
	width: 100%;
	text-align: center;
	background: none !important;
	position: absolute;
	bottom: 5px;
}

.navbar .nav li a:hover {
	color: #999;
}

.navbar-inner {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	min-height: 82px;
	padding-left: 0;
	padding-right: 0;
}

.navbar-inner .nav {
	position: relative;
}

.navbar-inner .nav .active {
	background: none;
}
/*
.navbar .btn-navbar {
	margin-top: 27px;
}
*/
.navbar-inner .nav li {
	position: relative;
	cursor: pointer;
	height: 82px;
	width: 95px;
	border-left: 1px solid #8C8C8C;
	border-right: 1px solid #303030;
	text-shadow: 0 1px 0 black;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5C5C5C), color-stop(100%,#303030));
}

.navbar-inner .nav li:hover {
	background: none;
}

.brand {
	padding: 25px 0 12px 0 !important;
	font-size: 32px !important;
	text-transform: uppercase;
	margin-left: 0 !important;
}

.dashboard-brand {
	padding-left: 0px !important;
	padding-right: 25px !important;
	font-weight: bold !important;
}
