#total-cost-widget-wrapper {
  width: 200px;
  float: left;
}

#total-cost-widget, #build-widget {
  min-height: 0 !important;
  height: 110px;
}

#build-widget-wrapper {
  width: 670px;
  float: right;
}

