html, body {
	background-color: #E9E9E9;
}

body {
    padding: 0;
}

.widget {
  margin-bottom: 10px;
}

.widget-header {
	text-align: center;
	height: 40px;
	background: #E9E9E9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
  position: relative;
}

.widget-header h3 {
	font-size: 14px;
	font-weight: 800;
	color: #555;
	line-height: 40px;
	text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}

.widget-header h3 .widget-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px;
}

.widget-content {
	padding: 10px;
	background: white;
	border: 1px solid #D5D5D5;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.widget .row {
	margin-left: 0;
}

.dashboard-footer {
  margin-top: 25px;
  padding: 15px 0 16px;
  border-top: 1px solid #D5D5D5;
}

#stories, #performance, #server-performance-config {
	padding: 10px;
	margin: 0 auto;
	max-width: 900px;
}

#index-view {
  padding: 10px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

#github-view {
  padding: 190px 10px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

#index-view .widget-content {
  min-height: 200px;
}
