#current-velocity {
  color: #444;
  font-size: 80px;
  line-height: 100px;
}

#pivotal-not-configured {
  padding-top: 15px;
  color: #D80B17;
}

#total-cost-widget, #velocity-widget, #build-widget {
  min-height: 0 !important;
  height: 110px;
}

.cost-per-day {
  padding-top: 15px;
}

.loading .widget-content,
.loading .environment-information {
  background: white url(/assets/spinner-small.gif) no-repeat center center;
}

.widget-content {
  min-height: 100px;
}

#performance-widget {
    text-align: center;
}

#loading-github svg {
  margin-left: 380px;
}

img.author-avatar {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-right: 5px;
}

p.commit-message {
  display: block;
  font-size: 16px;
  font-style: bold;
  color: black;
  text-align: left;
  margin: 0;
  color: #222;
  line-height: 22px;
}

a.commit-author {
  float: left;
  display: block;
  font-size: 12px;
  color: #666;
  text-align: left;
  text-decoration: none;
}

div.commit-date {
  float: left;
  display: block;
  font-size: 12px;
  color: #333;
  text-align: left;
}

a.commit-source {
  float: right;
  display: block;
  font-size: 12px;
  color: #333;
  text-align: right;
  text-decoration: none;
}

i.icon-float-right {
  float: right;
}

#build-widget-wrapper .build-passing {
    background-color: #2eb535;
    height: 100%;
    text-transform: uppercase;
}

#build-widget-wrapper .build-passing h2,
#build-widget-wrapper .build-failing h2 {
    padding-top: 40px;
}

#build-widget-wrapper .build-failing {
    background-color: #da2c47;
    height: 100%;
    text-transform: uppercase;
}

#performance-widget iframe {
  width: 100%
}
